<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<title>レビューを編集</title>
</head>
<body>
		<h1>レビューを編集</h1>
		<form th:action="@{/reviews/edit/{id}(id=${reviewEditForm.id})}" th:object="${reviewEditForm}" method="post">
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{houseId}"/>
				<input type="hidden" th:field="*{userId}"/>
				<label for="userName">ユーザー名:</label>
				<input type="text" th:field="*{userName}"/><br>
				<label for="comment">コメント:</label>
				<textarea th:field="*{comment}"></textarea><br>
				<label for="score">評価:</label>
				<input type="number" th:field="*{score}" min="1" max="5"/><br>
				<button type="submit">更新</button>
		</form>		
</body>
</html>