<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>レビューを編集</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
            <li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
            <li class="breadcrumb-item"><a th:href="@{/houses/{houseId}(houseId=${house.id})}">民宿詳細</a></li>
            <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
        </ol>
    </nav>
    
    <h1 class="mt-5 mb-4"></h1>
    <form th:action="@{|/houses/${house.id}/reviews/${review.id}/update|}" th:object="${reviewEditForm}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{houseId}">
        <input type="hidden" th:field="*{userId}">
        <input type="hidden" th:field="*{name}">

        <div class="form-group">
            <label for="score">評価</label>
            <select class="form-control" id="score" th:field="*{score}" required>
                <option value="5">★★★★★</option>
                <option value="4">★★★★</option>
                <option value="3">★★★</option>
                <option value="2">★★</option>
                <option value="1">★</option>
            </select>
            <div th:if="${#fields.hasErrors('score')}" class="text-danger" th:errors="*{score}"></div>
        </div>

        <div class="form-group">
            <label for="content">コメント</label>
            <textarea class="form-control" rows="4" id="content" th:field="*{content}" required></textarea>
            <div th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></div>
        </div>

        <button type="submit" class="btn btn-primary">更新</button>
    </form>
    <a th:href="@{'/houses/' + ${house.id}}" class="btn btn-secondary mt-3">戻る</a>
</div>
</body>
</html>
